<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="orangeBrowser_Kai.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <orangeBrowser_Kai.Properties.Settings>
            <setting name="Window_Point" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Window_Size" serializeAs="String">
                <value>600, 400</value>
            </setting>
            <setting name="Window_Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="General_HomePage" serializeAs="String">
                <value>https://www.google.co.jp/</value>
            </setting>
            <setting name="General_SearchPage" serializeAs="String">
                <value>http://www.nicovideo.jp/search/%s</value>
            </setting>
            <setting name="General_HideUrl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General_VerifyClose" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nico_Mail" serializeAs="String">
                <value />
            </setting>
            <setting name="Nico_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Nico_AllowLowMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Nico_DefaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Others_AmbiguousHoliday" serializeAs="String">
                <value>False</value>
            </setting>
        </orangeBrowser_Kai.Properties.Settings>
    </userSettings>
</configuration>